<div class="Loding_Product"></div>
<div class="content">
</div>
<script>
  let questionP = document.querySelector(".content");
    fetch("{{ product.url }}?view=card_info", { method: "Get" }).then((res) => res.json()).then((json) => {
        questionP.innerHTML = json[0].question;
    })
}
</script>