<div class="ProductInfo">
  <h2>{{ product.title }}</h2>
  <div class="PriceBox {% if product.compare_at_price > product.price %} sale-price {% else %} regular-price {% endif %}">
  {% if product.compare_at_price > product.price %}
    <span class="money compare_at_price">{{ product.compare_at_price | money_with_currency }}</span>
    <span class="money">{{ product.price| money_with_currency }}</span>
    {% else %}
    <span class="money">{{ product.price| money_with_currency }}</span>
  {% endif %}
  </div>
</div>