<div class="ProductTabs">
  <div class="TabListContainer">
   <div class="TabHeader">
     Description <span class="Icon-plus"></span>
   </div>
   <div class="TabContent">
     {{ product.description }}
   </div>
   </div>
</div>