{% for block in section.block %}
 {% if block.type == 'tab' %}
   {% if block.settings.title != blank and block.settings.content != blank %}
   <div class="TabListContainer">
   <div class="TabHeader">
     {{ block.settings.title }} <span class="Icon-plus"></span>
   </div>
   <div class="TabContent">
     {{ block.settings.content }}
   </div>
   </div>
   {% endif %}
   {% endif %}
{% endfor %}