{% layout settings.customer_layout %}

<div id="template">
  <div id="customer">
    <div class="template_header">
      <h2 class="title">Customer Login</h2>
    </div>

    {% form 'customer_login' %}
      {{ form.errors | default_errors }}

      <div id="login_email" class="clearfix large_form">
        <label for="customer_email" class="login">Email Address</label>
        <input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30" />
      </div>

      {% if form.password_needed %}

        {% comment %}
          Customer Account Login
        {% endcomment %}

        <div id="login_password" class="clearfix large_form">
          <label for="customer_password" class="login">Password</label>
          <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
          <div id="forgot_password">
            <a href="#" onclick="showRecoverPasswordForm();return false;">Forgot your password?</a>
          </div>
        </div>

      {% endif %}

      <div class="action_bottom">
        <input class="btn" type="submit" value="Sign In" />
        <span class="note">or <a href="{{ shop.url }}">Return to Store</a></span>
      </div>
    {% endform %}
  </div>

  {% comment %}
    Recover Password Form
  {% endcomment %}

  <div id="recover-password" style='display:none'>
    <div class="template_header">
      <h2 class="title">Reset Password</h2>
      <p class="note">We will send you an email to reset your password.</p>
    </div>

    {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      <div id="recover_email" class="clearfix large_form">
        <label for="email" class="large">Email</label>
        <input type="email" value="" size="30" name="email" id="recover-email" class="large" />
      </div>
      <div class="action_bottom">
        <input class="btn" type="submit" value="Submit" />
        <span class="note">or <a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a></span>
      </div>
    {% endform %}
  </div>


  {% comment %}
    Guest Login form for shops with optional customer accounts. This form is displayed only when users click on the checkout link
    on the cart page.
  {% endcomment %}

  {% if shop.checkout.guest_login %}
  <div id="guest">
    <div class="template_header">
      <h3 class="title">Guest Login</h3>
    </div>
    {% form 'guest_login' %}
      <input class="btn" type="submit" value="Continue as Guest" />
    {% endform %}
  </div>
  {% endif %}
  <div class="section r"></div>
<div class="section b"></div>
<div class="section g"></div>
<div class="section ba"></div>
  <svg class="BACG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="1200" height="628" viewBox="0 0 1200 628" xml:space="preserve">
<desc>Created with Fabric.js 5.3.0</desc>
<defs>
</defs>
<g transform="matrix(0.9912243091 0 0 1.0032682293 251.6632790138 351.1158503901)" id="EFjbwUHqA3skGBddqgw_m">
<path style="stroke: rgb(0,0,0);stroke-width: 1;stroke-dasharray: none;stroke-linecap: butt;stroke-dashoffset: 0;stroke-linejoin: miter;stroke-miterlimit: 4;fill: rgb(255,255,255);fill-opacity: 0;fill-rule: nonzero;opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(0, 0)" d="M -217.11491 -89.48655 L -86.55256 -89.48655 L -86.55256 -8.283049999999989 L -38.82881 52.57276000000001 L 57.21272 89.48655000000001 L 175.77165 52.57276000000001 L 217.11491999999998 -8.283049999999989 L 217.11491999999998 -89.48655" stroke-linecap="round"/>
</g>
<g transform="matrix(1 0 0 -1 684.9877750611 171.4083129584)" id="vIQCjuZGevlLOvh_8hX7p">
<path style="stroke: rgb(0,0,0); stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-opacity: 0; fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(-0.000005, 0)" d="M -217.11491 -89.48655 L -86.55256 -89.48655 L -86.55256 -8.283049999999989 L -38.82881 52.57276000000001 L 57.21272 89.48655000000001 L 175.77165 52.57276000000001 L 217.11491999999998 -8.283049999999989 L 217.11491999999998 -89.48655" stroke-linecap="round"/>
</g>
</svg>
<style>
  .r{
  background-color: red;
  }
.b{
  background-color: blue;
  }
.g{
  background-color: gree;
  }
.ba{
  background-color: black;
  }
.section{
  height: 500px;
  }

  .BACG{
    position: fixed;
    top: 0;
  }
</style>
  <script>
    let path =  document.querySelctorAll('.BACG path')[0];
let pathLength = path.getTotalLength();

path.style.strockDasharray = pathLength + ' ' + pathLength;

path.style.strockDashoffset = pathLength;

window.addEvenListener('scroll', () =>{
let scrollProgress = document.getElementById("progress");
    let progressValue = document.getElementById("progress-value");
    let pos = document.documentElement.scrollTop;
    let calcHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    let scrollValue = Math.round( pos * 100 / calcHeight);
    console.log(scrollValue)
})
  </script>
</div>


<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'inline-block';
    document.getElementById('customer').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer').style.display = 'inline-block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
