{% for product in collection.products %}
  <div class="GridData">
  <div class="featured-product">
  {% render 'product-grid', card_product:product %}
  </div>
    </div>
{% endfor %}
{% schema %}
  {
    "name": "Collection Data",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}