*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.overlay-opacity {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

@media screen and (max-width: 749px) {
  .small-hide {
    display: none !important;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .medium-hide {
    display: none !important;
  }
}

@media screen and (min-width: 990px) {
  .large-up-hide {
    display: none !important;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.light {
  opacity: 0.7;
}


body::-webkit-scrollbar,.scroll-bar::-webkit-scrollbar {
    width: 5px;
    border-radius:2px;
     -webkit-border-radius: 7px;
}
 
body::-webkit-scrollbar-track,.scroll-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb,.scroll-bar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
   -webkit-border-radius: 7px;
}
body {
	color: var(--body-text-color);
	font-family: var(--font-body);
	font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
	font-size: var(--body-font-size);
}
a{
  color: var(--body-link-color);
}
.hide{
  display: none !important;
}
/* grid system */
.CollectionnGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.colls-6 .GridItem {
    width: calc(16.666% - 15px);
}
.colls-5 .GridItem {
    width: calc(20% - 15px);
}
.colls-4 .GridItem {
    width: calc(25% - 15px);
}
.colls-3 .GridItem {
    width: calc(33.333% - 15px);
}
.colls-2 .GridItem {
    width: calc(50% - 15px);
}
.colls-1 .GridItem {
    width: calc(100% - 15px);
}
@media(max-width: 1365px){
.colls-6 .GridItem {
    width: calc(20% - 15px);
}
.colls-5 .GridItem {
    width: calc(20% - 15px);
}
.colls-4 .GridItem {
    width: calc(25% - 15px);
}
.colls-3 .GridItem {
    width: calc(33.333% - 15px);
}
.colls-2 .GridItem {
    width: calc(50% - 15px);
}
.colls-1 .GridItem{
    width: calc(100% - 15px);
}
}
@media(max-width: 992px){
.colls-6 .GridItem {
    width: calc(20% - 15px);
}
.colls-5 .GridItem {
    width: calc(25% - 15px);
}
.colls-4 .GridItem {
    width: calc(25% - 15px);
}
.colls-3 .GridItem {
    width: calc(33.333% - 15px);
}
.colls-2 .GridItem {
    width: calc(50% - 15px);
}
.colls-1 .GridItem {
    width: calc(100% - 15px);
}
}
@media(max-width: 767px){
.colls-6 .GridItem {
    width: calc(33.333% - 15px);
}
.colls-5 .GridItem {
    width: calc(25% - 15px);
}
.colls-4 .GridItem {
    width: calc(50% - 15px);
}
.colls-3 .GridItem {
    width: calc(50% - 15px);
}
.colls-2 .GridItem {
    width: calc(50% - 15px);
}
.colls-1 .GridItem {
    width: calc(100% - 15px);
}
}








.swiper-button-next.swiper-next {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    right: 30px;
    top: 50%;
    transition: .5s ease all;
}

.swiper-button-next.swiper-next::after {
    font-size: 12px;
}
.swiper-button-next:hover,.swiper-button-prev:hover{
    transform: translate(0,0) rotate(0) skew(0) skewY(0) scaleX(1.1) scaleY(1.1)
}
.swiper-button-prev.swiper-prev {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    left: 30px;
    top: 50%;
    transition: .5s ease all;
}
.swiper-button-prev.swiper-prev::after {
    font-size: 12px;
    color: #fff;
}
.swiper-button-disabled{
  display:none !important;
}
@media(max-width: 479px){
  
}
@media(min-width:768px){
  .desktop-hide{
   display: none !important; 
  }
}
@media(max-width:767px){
  .mobile-hide{
   display: none !important; 
  }
}
@-webkit-keyframes section-shop-the-look-dot{
  50%{transform:scale(1.05)}
}@keyframes section-shop-the-look-dot{
  50%{transform:scale(1.05)}
}

.link-color {
	color: var(--site-link-color);
}
.title{
  font: 25px;
  margin-bottom: 15px;
  padding: o;
}
.uppercase{
  text-transform:uppercase;
}
.overflow-hidden{
  overflow: hidden;
}
.radius-5{
  border-radius: 5px;
}
.radius-10{
  border-radius: 10px;
}
.radius-20{
  border-radius: 20px;
}
.radius-30{
  border-radius: 30px;
}
.radius-40{
  border-radius: 40px;
}
.radius-50{
  border-radius: 50px;
}
.radius-60{
  border-radius: 60px;
}
.radius-70{
  border-radius: 70px;
}
.radius-80{
  border-radius: 80px;
}
.radius-90{
  border-radius: 90px;
}
.radius-100{
  border-radius: 100px;
}
.page-width {
	max-width: var(--website-wrapper-width);
	margin: 0 auto;
	width: 100%;
    padding-left: var(--wbsite-left-padding);
	padding-right: var(--wbsite-right-padding);
}

.full-width {
	width: 100%;
	margin: 0 auto;
}

.narrow-width {
	max-width: var(--website-narrow-width);
	margin: 0 auto;
    width: 100%;
    padding-left: var(--wbsite-left-padding);
	padding-right: var(--wbsite-right-padding);
}

@media(max-width:767px){
  .narrow-width {
    padding-left: 5vw;
	padding-right:  5vw;
}
  .page-width {
    padding-left:  5vw;
	padding-right:  5vw;
}
  .header__wrapper .narrow-width{
    padding: 0 15px;
  }
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

button, .button,
.cta-btn {
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  padding: var(--button-top-padding) var(--button-left-padding) var(--button-bottom-padding) var(--button-right-padding);
  pointer-events: auto;
  transition: all .2s ease-out;
  background: var(--button-background-color);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--button-text-color);
  border: var(--button-border-thickness) solid var(--button-border-color);
}
button:hover,.button:hover,
.cta-btn:hover {
  background: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
  border: var(--button-border-thickness) solid var(--button-hover-border-color);
}
.secondary-btn{
  background: #000;
  color: #fff;
}
input,select,textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: var(--input-border-thickness) solid;
    font-size: 12px;
    outline: none;
    padding: var(--button-top-padding) var(--button-left-padding) var(--button-bottom-padding) var(--button-right-padding);
    transition: all .2s ease;
    border-radius: var(--input-border-radius);
    
}


.main-heading-color {
	color: var(----main-heading-color)
}
.snakify-in{
  position: relative;
  display: inline-block;
  transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  opacity: .7;
}
.snakify-in:after {
    border-radius: 3rem;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 1s cubic-bezier(.19,1,.22,1);
    width: 100%;
}
.snakify-in:hover{
  opacity: 1;
}
.snakify-in:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    
}
.hover-zoom {
    transform: translateZ(0);
    transition: transform 1s cubic-bezier(0,.51,.25,1);
    overflow: hidden;
}

.hover-zoom:hover {
    transform: translateZ(0) scale(1.02);
}




/*tabel  */
