section#cartDrawer {
position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
    top: 0;
    transition: all .7s ease;
}
#cart_drawer_box.active section#cartDrawer {
    visibility: visible;
    opacity: 1;
}
section#cartDrawer .drawer_wrapper {    
width: 400px;
border-radius: 20px 0 0 20px;
padding: 1.5rem;
transition: all .7s ease;
pointer-events: auto;
transition-property: all;
transition-timing-function: cubic-bezier(.93,-.01,0,1.02);
border-top-left-radius: 2rem;
position: relative;
z-index: 3;
-webkit-backdrop-filter: saturate(180%) blur(3rem);
backdrop-filter: saturate(180%) blur(3rem);
transform: translate(100%);
height: 90vh;
overflow: hidden;
}

section#cartDrawer .drawerProducts {
    align-self: center;
    grid-row: 1/3;
    pointer-events: auto;
    max-width: 100%;
    min-width: 100%;
    transition-duration: .7s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.93,-.01,0,1.02);
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0 30px;
    transform: translate(-100%);
}
.drawer-box {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    pointer-events: none;
    width: 100%;
    transition-duration: .7s;
    display: grid;
    height: 90vh;
    position: relative;
    z-index: 50;
    transition-timing-function: cubic-bezier(.93,-.01,0,1.02);
}

#cart_drawer_box.active section#cartDrawer .drawer_wrapper {
    transform: translate(0);
}

#cart_drawer_box.active section#cartDrawer .drawerProducts {
    transform: translate(0);
}
.drawerProducts {
    background: transparent !important;
}
#cart_drawer_box.active section#cartDrawer .drawerProducts .CratDrawerSlider {
    overflow: inherit;
}

.content_empty a {
    width: 100%;
    text-align: center;
}

.drawer_overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    width: 100%;
    -webkit-backdrop-filter: saturate(180%) blur(3rem);
backdrop-filter: saturate(180%) blur(3rem);
  cursor: pointer;
}


#cart_drawer_box.active section#cartDrawer .drawer_overlay {
    visibility: visible;
    opacity: 0.9;
    filter: blur(10px);
}
.drawer_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_image_text {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 15px;
}
.cart_details {
    font-size: 13px;
    position: relative;
    width: 70%;
}
.cart_image_text .cart-item-image {
    width: 30%;
    margin-left: 5px;
}
.cart_details p {
    font-weight: bold;
    margin-bottom: 8px;
}


.cart_details p:last-child {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  font-size: 11px;
  left: 0;
  right: 0;
  width: 100%;
}

.item-details {
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
.cart_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .8rem;
    padding: 1.5rem 0 0;
    font-size: 15px;
}
.quantity-filed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
}
.item-details:active {
    transform: translate(0,0) rotate(0) skew(0) skewY(0) scaleX(.95) scaleY(.95);
}
.cart_bottom svg {
    -webkit-text-stroke-color: inherit;
    width: 20px;
    height: 15px;
}

.quantity-filed input#variant-quantity {
    padding: 0;
    height: auto;
    width: 35px;
    border-radius: 0;
    background: transparent;
    border: none;
    text-align: center;
    color: inherit;
}
.DrawerFooter {
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
    right: 0;
    padding: 1.5rem;
}

.DrawerFooter a.cta-btn {
    width: 100%;
    display: block;
    text-align: center;
}

.DrawerFooter button#cart_checkout_btn {
    width: 100%;
    margin-top: 1.5rem;
}

.DrawerFooter  h4 {
    display: flex;
    margin-bottom: 1rem;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

div#cart_drawer {
    overflow-y: auto;
    margin-bottom: 220px;
    height: calc(95vh - 251px);
}
.empty-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.content_empty {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content_empty a.button {
    margin-bottom: 10px;
}

.content_empty h4 {
    margin-bottom: 10px;
}
@media(max-width: 767px){
  .drawer-box {
    grid-template-columns: auto;
    grid-template-rows: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

section#cartDrawer .drawer_wrapper {
    width: 100%;
    height: auto;
    order: 1;
    position: static;
    margin-bottom: 30px;
    transform: translateY(100%);
}

section#cartDrawer .drawerProducts {
    order: 2;
}
div#cart_drawer {
    height: auto;
    margin: 0;
    overflow: inherit;
}

#cart_drawer_box.active section#cartDrawer .drawer_wrapper {
    transform: translateY(0);
}
#cart_drawer_box.active section#cartDrawer .drawerProducts {
    transform: translateY(0);
}

section#cartDrawer .drawerProducts {
    width: 100%;
    height: auto;
    order: 2;
    position: relative;
    margin-bottom: 30px;
    transform: translateY(100%);
}  
}