.CollectionFilterBox {
    flex-wrap: wrap;
    display: flex;
    padding: 5px 2rem;
    position: relative;
    width: 100%;
    height: 50px;
    align-items: center;
}

.CollectionFilters {
    border: 1px solid;
    border-radius: 1.5rem;
    bottom: 1rem;
    box-shadow: 0 0 4rem rgba(0,0,0,0.5);
    width: calc(100% - 8rem);
    transition-timing-function: cubic-bezier(.93,-.01,0,1.02);
    transition-duration: .5s;
    transition-property: all;
    display: flex;
    flex-direction: column;
    max-width: calc(var(--website-wrapper-width) - 6rem);
    overflow: hidden;
    position: fixed;
    z-index: 9;
    left: 50%;
    justify-content: flex-end;
    align-items: center;
    transform: translate(-50%,0);
}


.FilterItem {
    flex: 1;
}

form#FilterForm {
    width: 100%;
}
.FilterBody input {
    border: none;
    padding: 0;
    display: none;
}

.FilterValues ul label {
    margin-right: 15px;
    margin-bottom: 15px;
    display: block;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 7rem;
    text-align: center;
}

.ActiveFilter {
    display: none;
}
.FilterLabel {
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 40px;
    min-width: 8rem;
    position: relative;
    padding: 0 10px;
    margin: 0 5px;
    white-space: nowrap;
    justify-content: center;
      position: relative;
    
}
.FilterLabel:after {
    content: "";
    position: absolute;
    width: 1px;
    background: #fff;
    height: 50%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: -5px;
}

.SortBySelect .FilterLabel::after {
    display: none;
}
.FilterValues {
    bottom: 50px;
    left: 0;
    opacity: 0;
    overflow: auto;
    pointer-events: none;
    position: absolute;
    visibility: hidden;
    width: 100%;
    transition-timing-function: cubic-bezier(0,.4,0,1.02);
    transition-duration: .2s;
    transition-property: all;
    right:0;
}
.FilterBody li.disabled {
    display: none;
}
.FilterBody{
    padding: 20px;
    border-bottom: 1px solid;
}
.FilterValues ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.FilterValues ul::webkit-scrollbar {
    width: 5px;
    border-radius:2px;
     -webkit-border-radius: 7px;
}
.FilterValues ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.FilterValues ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
   -webkit-border-radius: 7px;
}
.FilterItem.active .FilterValues {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.FilterBody input:checked+label{background: #000}
.FilterResults {
    padding: 5px 2rem;
}
.ResultItems{
  border-top: 1px solid;
  display: flex;
  padding-top: 10px;
}
.RemoveFilter:only-child {
    display: none;
}
.filter-group-display__price-range {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-group-display__price-range input {
    display: block;
    width: 75px;
    height: 35px;
    border: 1px solid;
    padding: 5px;
    text-align: center;
    background: #000;
}

.FilterItem.active .FilterLabel svg {
  transform: rotate(180deg);
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.FilterItem .FilterLabel svg {
  margin-left: 15px;
  fill: currentColor;
  width: 12px;
  height: 12px;
}
.FilterLabel:hover,.FilterItem.active .FilterLabel {
    background: #ccc;
    border-radius: 5px;
    color: #000;
}
.filter-group-display__price-range > div {
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.FilterResults .RemoveFilter,.FilterResults .ClearAll {
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
}
.RemoveFilter svg {
    width: 11px;
    margin-left: 10px;
}

span.x-cl {
    margin-left: 13px;
}