.CollectionFilterBox {
    flex-wrap: wrap;
    display: flex;
    padding: 5px 2rem;
    position: relative;
    width: 100%;
    height: 50px;
    align-items: center;
}

.CollectionFilters {
    border: 1px solid;
    border-radius: 1.5rem;
    bottom: 1rem;
    box-shadow: 0 0 4rem rgba(0,0,0,0.5);
    width: calc(100% - 8rem);
    transition-timing-function: cubic-bezier(.93,-.01,0,1.02);
    transition-duration: .5s;
    transition-property: all;
    display: flex;
    flex-direction: column;
    max-width: calc(var(--website-wrapper-width) - 6rem);
    overflow: hidden;
    position: fixed;
    z-index: 9;
    left: 50%;
    justify-content: flex-end;
    align-items: center;
    transform: translate(-50%,0);
}


.FilterItem {
    flex: 1;
}

form#FilterForm {
    width: 100%;
}
.FilterBody input {
    border: none;
    padding: 0;
    display: none;
}

.FilterValues ul label {
    margin-right: 15px;
    margin-bottom: 15px;
    display: block;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 7rem;
    text-align: center;
}

.ActiveFilter {
    display: none;
}
.FilterLabel {
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 40px;
    min-width: 8rem;
    position: relative;
    padding: 0 10px;
    margin: 0 5px;
    white-space: nowrap;
    justify-content: center;
      position: relative;
    
}
.FilterLabel:after {
    content: "";
    position: absolute;
    width: 1px;
    background: #fff;
    height: 50%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: -5px;
}

.SortBySelect .FilterLabel::after {
    display: none;
}
.FilterValues {
    bottom: 50px;
    left: 0;
    opacity: 0;
    overflow: auto;
    pointer-events: none;
    position: absolute;
    visibility: hidden;
    width: 100%;
    transition-timing-function: cubic-bezier(0,.4,0,1.02);
    transition-duration: .2s;
    transition-property: all;
    right:0;
}
.FilterBody li.disabled {
    display: none;
}
.FilterBody{
    padding: 20px;
    border-bottom: 1px solid;
}
.FilterValues ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.FilterValues ul::webkit-scrollbar {
    width: 5px;
    border-radius:2px;
     -webkit-border-radius: 7px;
}
.FilterValues ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.FilterValues ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
   -webkit-border-radius: 7px;
}
.FilterItem.active .FilterValues {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.FilterResults {
    padding: 5px 2rem;
}
.ResultItems{
  border-top: 1px solid;
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
}
.RemoveFilter:only-child {
    display: none;
}
.filter-group-display__price-range {
    display: block;
    max-width: 450px;
    width: 80%;
    position: relative;
    margin: 0 auto;
    height: 40px;
    margin-top: 40px;
}
.filter-group-display__submit {
    display: flex;
    justify-content: center;
}
.filter-group-display__price-range input {
    display: block;
    border: 0;
}
.FilterValues ul label.active {
    background: #000;
}
.FilterItem.active .FilterLabel svg {
  transform: rotate(180deg);
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.FilterItem .FilterLabel svg {
  margin-left: 15px;
  fill: currentColor;
  width: 12px;
  height: 12px;
}
.FilterLabel:hover,.FilterItem.active .FilterLabel {
    background: #ccc;
    border-radius: 5px;
    color: #000;
}
.FilterResults .RemoveFilter,.FilterResults .ClearAll {
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
}
.RemoveFilter svg {
    width: 11px;
    margin-left: 10px;
}

span.x-cl {
    margin-left: 13px;
}
#PriceRange input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
#PriceRange .slider-track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
#PriceRange input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
#PriceRange input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}
#PriceRange input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}
#PriceRange input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  background-color: #3264fe;
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}
#PriceRange input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3264fe;
  pointer-events: auto;
  border: none;
}
#PriceRange input[type="range"]::-ms-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3264fe;
  pointer-events: auto;
}
#PriceRange input[type="range"]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 1px solid #3264fe;
}
#PriceRange .values {
  position: relative;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
}
span#range1, span#range2 {
    position: absolute;
    top: 0;
    padding: 5px;
    background: #000;
    top: -20px;
    left: 0;
    width: 60px;
    border-radius: 5px;
    text-wrap: nowrap;
}

@media(max-width: 1023px){
  form#FilterForm {
    position: fixed;
    height: 80vh;
    z-index: 100;
    bottom: 0;
    transform: translateY(100%);
    transition-timing-function: cubic-bezier(.93,-.01,0,1.02);
    transition-duration: .5s;
    transition-property: all;
    border-radius: 30px 30px 0 0;
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
    border: 1px solid;
    width: 80%;
}
 .filter-open form#FilterForm {
    transform: translateY(0);
 }
  .overlay-filter {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #aeb0edc7;
    right: 0;
    z-index: 99;
    backdrop-filter: blur(10px);
    visibility: hidden;
    transition-timing-function: cubic-bezier(.93,-.01,0,1.02);
    transition-duration: .5s;
    transition-property: all;
    opacity: 0;
}
 .filter-open .overlay-filter {
    visibility: visible;
    opacity: 1;
}
form#FilterForm::-webkit-scrollbar {
    width: 5px;
    border-radius:2px;
     -webkit-border-radius: 7px;
}
 
form#FilterForm::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
form#FilterForm::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
   -webkit-border-radius: 7px;
}

.filterMobileButton.large-up-hide {
    position: fixed;
    bottom: 5rem;
    left: 3rem;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 100;
    border: 1px solid;
    border-radius: 100%;
}
.filterMobileButton.large-up-hide svg {
    width: 20px;
}
.CollectionFilters {
  position: inherit;
  height: auto !important;
  width: 100%;
  bottom: inherit;
  transform: inherit;
}

.CollectionFilterBox {
    display: block;
    order: 2;
    height: auto;
    padding: 20px 30px;
}

.FilterResults {
    order: 1;
    width: 100%;
}

.FilterValues {
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    bottom: inherit;
    padding: 10px 0;
}

.FilterLabel {
    align-items: flex-start;
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    height: auto;
    padding: 0 0 20px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
    pointer-events: none;
    font-size: 15px;
}

.FilterItem {
    margin-bottom: 30px;
    border-radius: 30px;
    padding: 30px;
    border: 1px solid;
}

.FilterBody {
    border: 0;
    padding: 0;
}

.ResultItems {
    padding-bottom: 6px;
    border-bottom: 1px solid;
}

.FilterItem .FilterLabel svg {
    opacity: 0;
}

.FilterLabel:after {
    display: none;
}
}
@media(max-width: 640px){
  form#FilterForm{
    width: 100%;
  }
  .FilterResults {
    padding: 0 10px;
}
form#FilterForm {
    border-radius: 20px 20px 0 0;
}
.CollectionFilterBox {
    padding: 10px;
}
.FilterItem {
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.FilterLabel {
    padding-bottom: 10px;
}

}
