.CollectionFilterBox {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    height: 5rem;
    padding: 0 2rem;
    position: relative;
}

.CollectionFilters {
    border: 1px solid;
    border-radius: 1.5rem;
    bottom: 1rem;
    box-shadow: 0 0 4rem rgba(0,0,0,0.5);
    width: calc(100% - 8rem);
    transition-timing-function: cubic-bezier(.93,-.01,0,1.02);
    transition-duration: .5s;
    transition-property: all;
    display: flex;
    flex-direction: column;
    max-width: calc(var(--website-wrapper-width) - 6rem);
    overflow: hidden;
    position: fixed;
    z-index: 9;
    left: 50%;
    justify-content: flex-end;
    transform: translate(-50%,0);
}

.FilterLabel {
    padding: 5px 20px;
    text-transform: uppercase;
}

.FilterValues {
    position: absolute;
    bottom: 70%;
    left: -1px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid;
    border-radius: 30px 30px 0 0;
    right: -1px;
    height: 0;
    visibility: hidden;
    transition: ease .5s in-out;
    opacity: 0;
}
.FilterValues ul {
    display: flex;
    flex-wrap: wrap;
}

.FilterItem.active .FilterValues {
    visibility: visible;
    opacity: 1;
    height: auto;
}