.imageBolckBoc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imageBolckBoc .imageBlockImage {
    width: 12.5%;
    padding: 7.5px;
}
.imageBolckBoc .imageBlockImage img {
    width: 100%;
    height: auto;
}
@media(max-width: 767px){
  .imageBolckBoc.per-row-6 .imageBlockImage {
    width:16.66666%;
} 
   .imageBolckBoc.per-row-5 .imageBlockImage {
    width:20%;
}
  .imageBolckBoc.per-row-4 .imageBlockImage {
    width:25%;
}
 .imageBolckBoc.per-row-3 .imageBlockImage {
    width:33.333%;
}
  .imageBolckBoc.per-row-2 .imageBlockImage {
    width:50%;
} 
}